/* CSS tillhörande Kristoffers del */
/* styling för indexsidan infotext */

.indexinfo{
    margin-top: 20px;
    border-radius: 10px;
}
.indexinfo h1{
    color: whitesmoke;
}

.indexinfo:nth-child(1){
    margin-right: 5px;
}
.indexinfo:nth-child(2){
    margin-left: 5px;
}

/* sätter annan färg på navbar */
.navtest{
    background-color: #3d3d3e;
}

/* sätter annan textfärg för listitems */
.navbar-brand span{
    color: whitesmoke;
}

.navbar-default .navbar-text {
    color: whitesmoke;
  }
  .navbar-default .navbar-nav > li > a {
    color: whitesmoke;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: whitesmoke;
    background-color: transparent;
  }
/* mediaquery för att ha annan färg på listitems */
@media (max-width:767px){
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: whitesmoke;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white;
  }
}

/* list styling för information på specific service pages */
.roomservice{
    border-radius: 10px;
    background: linear-gradient(#337ab7,#265a88);
    
    margin-bottom: 20px;
    box-shadow: gray 5px 5px 5px;
}
.roomservice:hover{
    background: linear-gradient(#337ab7, #337ab7)
}
.roomservice h1{
    color: whitesmoke;
}
.roomservice img{
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.roomservice p, .roomservice h3, .roomservice div h2{
    color: whitesmoke;
}
.restaurant-row{
    margin-top: 30px;
}
.roomservice:nth-child(1){
    margin-top: 20px;
}
table{
    background-color: #8ec4f1;
    border-radius: 10px;
}

.breadcrumb{
    border-radius: 0px;
    background-color: white;
}
